<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.dao.NewsTypeDao">
	<resultMap type="NewsType" id="NewsTypeResult">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>
	<select id="countList" resultMap="NewsTypeResult">
		SELECT * FROM hgc_newsType;
	</select>
</mapper> 